.coverage*
dist/
future/
todo.txt
.tox/
*.swp
deepxube/implementations/data/*
*.DS_Store
.idea/
old/
*\.egg-info/
bk.lp
*_old\.*
*_old\/*
temp/
build/
builds/
models/
file.lock
future/
jobs/
submit.sh
*dummy*
results_zeros_ex/
results_trained_ex/
valid.pkl
*__pycache__*
*figures.pptx
notes.txt
.pixi/*
!.pixi/config.toml
