.coverage*
dist/
future/
deepxube/domains/data/
deepxube_paper.txt
todo.txt
.tox/
*.swp
deepxube/implementations/data/*
*.DS_Store
.idea/
old/
*\.egg-info/
bk.lp
*_old\.*
*_old\/*
temp/
build/
builds/
file.lock
jobs/
submit.sh
*dummy*
results_zeros_ex/
results_trained_ex/
valid.pkl
*__pycache__*
*figures.pptx
notes.txt
