.coverage*
dist/
future/
.tox/
*.swp
deepxube/environments/data/*
*.DS_Store
.idea/
old/
*\.egg-info/
bk.lp
*_old\.*
*_old\/*
temp/
build/
builds/
models/
file.lock
future/
jobs/
submit.sh
*dummy*
*__pycache__*
*figures.pptx
